
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap);
.container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
}
.leftside{
    margin: 1% 8%;
}

h1{
    margin-bottom: 6%;
}

.table {
    display: grid;
    grid-template-columns: 15fr 1fr;
    grid-template-rows: 2em 1fr 1fr 1fr 1fr;
   align-items: stretch;
   height: 35px;
    
  }

  .yellowbox1{
      background-color: #fcd444;
      border-style: solid none solid solid;
      border-radius: 4px 0px 0px 4px;
      border-width: 1px;
      height: 100%;
      padding-left: 18px;
      margin-bottom: 6px;
 }

  .yellowbox2{
      background-color:#fcd444 ;
      border-style: solid solid solid none;
      border-radius: 0px 4px 4px 0px;
      border-width: 1px;
      padding-right: 10px;
      height: 100%;
      margin-bottom: 6px;
  }

  .line2{
      padding-top: 9px;
  }
  .rightside{
      display: block;
      margin: auto auto;
      margin-left: 12%;
      margin-top: 9%;
  }

  h1, p{
      color: #4e4963;
      font-family: 'Open Sans', serif;
  }

  @media only screen and (max-width: 1030px) and (min-width: 700px){
        .righside{
                margin-left: 10%;
        }
    }



  @media only screen and (max-width: 700px) and (min-width: 390px){
    .container{
            display: flex;
            flex-direction: column;
    }

    .rightside{
        margin-top: 50%;
    }

    h1{
        font-size: large;
    }

    p{
        font-size: small;
    }
}
@media only screen  and (max-width: 450px) and (min-width: 270px){
    .container{
        display: flex;
        flex-direction: column;
}

    .rightside{
        margin-top: 65%;
        padding-right: 50%;
    }

    h1{
        font-size: medium;
    }

    p{
        font-size: x-small;
    }
}

@media only screen  and (max-width: 278px){

    .container{
        display: flex;
        flex-direction: column;
}

    .rightside{
        margin-top: 85%;
        padding-right: 65%;
        
    }
    h1{
        font-size: medium;
    }

    p{
        font-size: x-small;
    }
}
